/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #001935;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background: url('background.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  

 .nav-bar {
    color: white;
   display: flex;
   justify-content: space-between;
   padding: 0px 5px 0px 10px;
   background: #001935;
   align-items: center;
   height: 38px;
   width: 100%;
   top: 0px;
   position: fixed;
   left: 0px;

 
 }

    .button {
     background-color: #001935;
     padding: 10px;
     text-decoration: none;
     border-radius: 3px;
     

  
   }

      #signup {
         color:#000000;
         background-color: #00cf35;
         margin: 0px 10px 0px 0px;
         padding: 6px 15px;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

           #login {
         color:#000000;
         background-color: #00b8ff;
         margin: 0px 10px 0px 0px;
         padding: 6px 15px;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

         #signup-btn {
         color:#000000;
         background-color: #00b8ff;
         margin: 0px 10px 0px 0px;
         padding: 6px 15px;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .logo {
            color:#FFFFFF;
            margin: 0px 10px 0px 0px;
            font: 30px Georgia, 'Times New Roman', Times, serif;
            text-decoration: none;
            font-weight: bold;
             }




