
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form {

    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
 
    text-align: center; 
	border-radius: 20px;
	width: 350px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
 
}
input {
    margin-top: 1px;
    width: 80%;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: rgb(244, 244, 244);
    
    
    

}

 #btn {
     margin-top: 3px;
         color:#000000;
         background-color: #00b8ff;
         padding: 6px 15px;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
         border-radius: 3px;
         width: 80%;
         border: none;
        }

        .sentence {
            color: #ffffff;
            font-size: 20px;
        }


@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}