
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#home_leel {

    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
 
    text-align: center; 
	// border-radius: 20px;
	width: 350px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
 
}

#logo_leel {
    color: white;
    text-decoration: bold;
    font-size: 40px;
   
    font-family: 'Lobster', cursive;
}

#moto {
    color: white;
    font-size: 15px;
    
}


 #hgetstarted {
        margin-top: 15px;  
              display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 7px;
         color:#000000;
         background-color: #00b8ff;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
         border-radius: 3px;
         width: 100%;
         border: none;
         text-decoration: none;


        }

         #hlogin {
             margin-top: 7px; 
     display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 7px;
         color:#000000;
         background-color: #ffffff;
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
         border-radius: 3px;
         width: 100%;
         border: none;
         text-decoration: none;


        }

         #hdemo {
             margin-top: 7px; 
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 7px;
         color:#000000;
         background-color:rgb(245, 156, 23);
         font: 16px Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
         border-radius: 3px;
         width: 100%;
         border: none;
         text-decoration: none;

        }

       .search_bar {
           margin-top: -15px;
           margin-left: 10px;
       }



@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}