// Place all the styles related to the Leels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leels {
 
    grid-area: content;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
     -ms-overflow-style: none; 
  scrollbar-width: none;
 
  text-align: center;
  justify-content: center;

  margin-top: 60px;
}

.leels_show {
  margin-top: -10px;
    grid-area: content;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    width: 530px;
   
    margin-right: auto;
    overflow:auto;
     -ms-overflow-style: none; 
  scrollbar-width: none;
   
}

.avatar_post {
  margin-top: -45px;
 height: 100%;
 vertical-align: top;
width: 70px;
margin-right:-50px;

}

.leel_row {
  display: inline-block;
  text-align: center;
  justify-content: center;
  
    align-items: center;
    display: flex;
    
    
}

.post {
    background-color: white;
     padding-top: 3vh;
    padding-bottom: 1.7vh;
    margin-top: 2vh;
    z-index: 0;
    width: 530px;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: left;
    word-wrap: break-word;
     overflow:auto;
 
     -ms-overflow-style: none; 
  scrollbar-width: none;
  
  margin-left: 70px;
    
    text-align: center;
  justify-content: center;

    align-items: center;
    display: flex;
     border: 1px solid rgba(182, 181, 181, 0.5);
     box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.post::-webkit-scrollbar {
  display: none;
}
.new_post {
  background-color: white;
     padding-top: 3vh;
    padding-bottom: 1.7vh;
     margin-top: 2vh;
     margin-left: 70px;
    z-index: 0;
    width: 530px;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: left;
    word-wrap: break-word;
    position: relative;
     -ms-overflow-style: none; 
  scrollbar-width: none;
  color: black;
    border: 1px solid rgba(182, 181, 181, 0.5);
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  

}

.leels::-webkit-scrollbar {
  display: none;
}

.body_post {
    color:rgb(8, 8, 8);
    font-size: 11pt;
    font-family: 'Pontano Sans', sans-serif;
    text-align: left;
    width: 490px;
    margin-top: 5px;
    overflow:auto;

}

.author_left {
  // display: flex;
  color: black;
  float: left;
  font-size: 13px;
 font-family: 'Lora', serif;
 

  
}

.first_line {
  display: inline-block;
// margin-top: -3px;
  border-bottom: 1px dotted lightgray;
  // height: 23px;
  width: 490px;
  height: 23px;
  
}

.edit_right {
  float: right;
   
}

.second_left {
  float: left;
  font-family: 'Rubik', sans-serif;
  
}

.second_right {
  float: right;
  

}

  .like_count {
     color: black;
     font-size: 9pt;
     width: 490px;
     display: inline-block;
     height: 15px;
   
     
  }

  #post_photo {
    max-width: 450px;
    max-height: 400px;
  }

  #preview_pic {
    max-width: 60px;
    max-height: 60px;
     
  }

.delete_photo {

   border: none;
    cursor: pointer;
   color: rgb(206, 13, 13);
   background-color: transparent;

   height: auto;
   width: auto;
  
}

.link_input {
  border-radius: 3px;
  border: 1px dashed black;
  
}

.title_post {
  color:rgb(8, 8, 8);
    font-size: 14pt;
    text-decoration: bold;
   font-family: 'Libre Baskerville', serif;
    text-align: left;
    width: 490px;
    margin-top: 5px;
}

.drag {

  color: red;
  font-family: 'Lobster', cursive;
  font-size: 14px;
}
.followbtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popupcard {
  color: black;
  text-align: left;

}

.avatar_post_popup{

}


@keyframes NO {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
