// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likebtnheart {
  border: none;
  background-color:transparent;
  color: red;
  cursor: pointer;
  margin-left: 5px;
    // justify-content: right;
}


     .deletebtn {
    border: none;
    cursor: pointer;
   color: black;
   background-color: transparent;
//    border-radius: 3px;
   height: auto;
   width: auto;
   margin-left: 5px;
 
    
  }

       .editbtntext {
    border: none;
    cursor: pointer;
   color: black;
   background-color: transparent;
   height: auto;
   width: auto;
   margin-left: 5px;

    
  }



 