// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likebtnheart {
  border: none;
  background-color:transparent;
  color: red;
    // justify-content: right;
}


  .like_delete_btn {
//    justify-content: space-between;
    margin-left: 424px;
  }

     .deletebtn {
    border: none;
    cursor: pointer;
   color: rgb(80, 79, 79);
   background-color: transparent;
//    border-radius: 3px;
   height: auto;
   width: auto;
   margin-left: 10px;
   border-radius: 5px;
    
  }