.postbuttons {
  width:80%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin-left: 50px;
    // margin-right: 10px;
      
      
}

.postbtn {
//   display: inline-block;
//   border: none;
width: auto;
height: auto;
// text-align: center;
// vertical-align: bottom;
position: relative;

    vertical-align: top;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    // display: flex;
}
  img {
    width: 50px;
    height: 52px;
    cursor: pointer;
  }

  img:hover{
   transform: translate( -3%, 3%) scale3d(1.1, 1.1, 1);
 
}


  .textbtn {
    border: none;
    background: transparent;
    cursor: pointer;
    display: block;
    // text-align: center;
    // justify-content: center;
    margin-left: 8px;
  }

 


  .vl {
  border-left: 1px dashed rgb(145, 144, 144);
  height:60px;
  display: flex;
  text-align: right;
  
}